.container {
	height: 750px;
	margin-left: 15%;
	margin-right: 25%;
	width: 75%;
}

.message {
	color: blue;
}

.username {
	width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}

/* ALL FRONT END */
* {
	font-family: "Nunito", sans-serif;
  }
  
/* HOME SECTION */
.header {
	padding: 20px;
	font-family: "Nunito", sans-serif;
	color: white;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px 10px 30px 10px;
}

.logo.large {
	width: auto;
	margin-left: 50px;
    height: auto;
	width: 40%;
}

.logo.small {
	width: 200px;
	margin-left: 50px;
    height: 120px;
}

.userDetails {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px 10px 30px 10px;
}

.userStats {
	font-size: 28px;
	font-family: "Nunito", sans-serif;
	padding-top: 10px;
}  

.profilePic {
	height: 200px;
	padding: 20px;
}

  /* TABLE */
  .table-color {
	background-color: #cfe3f1;
	margin: auto;
	width: 90%;
  }

main {
	background-image: url("slack_bg.png");
	background-repeat: no-repeat;
    background-size:cover;
	height: auto;
}

.linkButtons, .linkButtons button {
	width: 100%;
	height: 50px;
	margin-top: 0.5rem;
	align-self: center;
	font-size: 25px;
}

.linkButtons:hover, .linkButtons button:hover {
	background-color: #dbd801e3;
}

.blueButton {
	background-color: #0dbbfd;
}

.greenButton button {
	background-color: #24b873;
}

.dropdown-menu.show {
	width: 100%;
	align-self: center;
	font-size: 25px;
	text-align: center;
}